input[type="text"] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
button {
	border: 1px solid green;
}

table,
th,
td {
	border: 1px solid;
}

button {
	background-color: green;
	border: none;
	color: white;
	padding: 5px 10px;
	/* position: absolute; */
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: normal;
	font-size: 16px;
}
.edit {
	background-color: blue; /* Green */
}
.delete {
	background-color: red; /* Green */
}
